.DS_Store
__pycache__
all_invoices.xlsx
check_invoices.xlsx
basware
flow
gfis
untitled folder
venv
.idea
filecodec.py
app_old.py
bswr.py
checker.py
flw.py
gfs.py
test.py
git remote add origin [//your github url]